@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');
*{ box-sizing: border-box; }
#root {
  height: 100vh;
  width: 100vw;
  position: relative;
  /* background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.63) 0%,
      rgba(0, 0, 0, 0.63) 100%
    ),
    #ff3f02; */
  background-blend-mode: soft-light, normal;
  font-family: "Montserrat" !important;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 900px;
  min-height: 100vh;
  background-color: #eeeeee;

  --fire: #ff7402;
  --grass: #33a165;
  --steel: #00858a;
  --water: #0050ac;
  --psychic: #c90086;
  --ground: #c90086;
  --ice: #70deff;
  --flying: #5d4e75;
  --ghost: #4d5b64;
  --normal: #753845;
  --poison: #7e0058;
  --rock: #6e1a00;
  --fighting: #634136;
  --dark: #272625;
  --bug: #6e1a00;
  --dragon: #00c431;
  --electric: #bba909;
  --fairy: #d31c81;
  --unknow: #757575;
  --shadow: #29292c;
}

.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2em;
  margin: 0; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
  z-index: 1;
}

.search-bar {
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  height: 30px;
  margin: 0 auto;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  padding: 1em;
  top: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgba(255,255,255,.5);
}

.search-bar:focus {
  outline: none;
  background-color: rgba(255,255,255,.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1.2em;
  color: black;
}

.search-bar::placeholder {
  color: rgba(255,255,255,.3);
  font-weight: 400;
  padding: 0;
}

.wrapper {
  position: absolute;
  top: 7vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  width: 500px;
}

.search-results {
  width: 100%;
}

.pokemon-item {
  width: 100%;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 1em 0.5em;
  font-size: 0.8em;
  text-transform: capitalize;
  cursor: pointer;
}

.pokemon-item:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pokemon-item:hover {
  background-color: rgba(255,255,255,0.95);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.63) 0%, rgba(0, 0, 0, 1) 100%), var(--grass);
  z-index: -1;
  background-blend-mode: soft-light, normal;
  overflow: hidden;
}

.background::after {
  content: '';
  background: rgba(255,255,255,.1);
  height: 100vh;
  width: 100vh;
  position: absolute;
  top: 30vh;
  left: 50%;
  border-radius: 50%;
  transform-origin: top;
  transform: translateX(-50%) scale(4);
}

.id {
  position: absolute;
  top: -5vh;
  left: 50%;
  font-size: 16em;
  font-weight: 600;
  color: rgba(255,255,255,.1);
  text-transform: capitalize;
  font-weight: 700;
  transform: translateX(-50%);
  /* mix-blend-mode: difference; */
}

.pokemon-img {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.species {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.species-img{
  margin-right: 10px;
  margin-top: 25px;
}

.species-info {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.type {
  font-size: 1em;
  color: white;
  opacity: 0.7;
  text-transform: capitalize;
  font-weight: 500;
  margin: 0;
}

.name {
  position: relative;
  font-size: 3em;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0 auto;
}

.info {
  display: flex;
  flex-direction: row;
  background: rgba(255,255,255,.2);
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.4em;
  margin: 0.5em 0;
}

.info-item {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
  color: white;
  padding: 10px 18px;
  margin: 0 auto;
  text-align: center;
}

.info-item:not(:last-child) {
  border-right: 1px solid rgba(255,255,255,.2);
}

.info-title {
  font-size: 0.8em;
  font-weight: 100;
  margin: 0;
  padding-bottom: 5px;
}

.info-value {
  font-size: 0.8em;
  font-weight: 100;
  margin: 0;
  opacity: 0.8;
}

.number {
  font-size: 1.6em;
  font-weight: 600;
}

.info-value .item {
  font-size: 1.2em;
  font-weight: 600;
}

.ability {
  background: white;
  margin: 3px;
  border-radius: 10px;
  color: black;
  padding: 0.4em;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.stats-container {
  display: flex;
  flex-direction: row;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(241, 240, 240, 0.2);
  border: 1px solid white;
  width: 90px;
  border-radius: 10px;
  padding: 1em 0.6em;
  margin: 0.5em 0.4em;
  transition: 0.5s ease-in-out;
}

.stat:hover {
  cursor: pointer;
  transform: translate(0, -12px);
}

.stat-title {
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.stat-value {
  text-align: center;
  font-size: 1.5em;
  font-weight: 800;
  margin: 0;
  opacity: 0.8;
  color: white;
}

.stat img {
  width: 30px;
  margin-bottom: 10px;
}


.find-input {
  font-family: 'Montserrat', sans-serif;
  width: 500px;
  height: 30px;
  margin: 0 auto;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  padding: 1.2em;
  top: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  background-color: rgba(255,255,255,.5);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.find-input::placeholder {
  color: rgba(255,255,255,.3);
  font-weight: 400;
  padding: 0;
}

.find-input:focus {
  outline: none;
}

.go-btn {
  font-family: 'Montserrat', sans-serif;
  height: 46px;
  margin: 0 auto;
  text-decoration: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0.2em 1em;
  top: 0;
  color: black;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.go-btn:hover {
  background-color: rgba(255,255,255,.9);
}

.find-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  margin-top: 3vh;
}
